# Ignore Emacs backups
*~
# Also ignore all the files that Vivado litters around the drive
vivado*
# Ignore any working directories too - simulations and such will tend
# to create these in multiple locations.  Also ignore any build directories
working/
work/
build/
work/
# Ignore simulation directories because they get build automatically and
# will contain Xilinx IP
proc_lib/
# Also ignore the temporary files that emacs and such make
.\#*
# In general, ignore any transcripts that get produced anywhere
transcript
# The initial contents of the memory block are not under revision control - use a ROM
*.mif
*.log
*.wlf
# Also ignore the lib files that the simulation scripts create
sim/*_lib/
# Ignore coefficients files - these are only side effects of the assembler
*.coe
notes.org
